.DS_Store
/vendor
node_modules/

# Mac OS
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Storage files (Database and Logs)
/storage/*.sqlite
/storage/*.sqlite-journal
/storage/*.sqlite-wal
/storage/*.sqlite-shm
/storage/logs/
/storage/uploads/

# Env
.env
*.zip
