<IfModule mod_rewrite.c>
RewriteEngine On

# 1. Forceer WWW en HTTPS tegelijk
RewriteCond %{HTTP_HOST} ^grutdesigners\.nl$ [NC,OR]
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://www.grutdesigners.nl/$1 [L,R=301]

</IfModule>
